.dropdown__header {
  border: 1px solid blue;
  border-radius: 4px;
  padding: 8px 12px;
}

.more-fields {
  margin: 0;
  padding: 12px 0;
  border-radius: 1px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
  background: #fff;
  font-size: 12px;
  width: 134px;

  li {
    padding: 3px 10px;
    cursor: pointer;

    a {
      color: #000;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: #e0f3ff;
    }
  }
}